
mixin footer(fluid)
  = '\n    '
  .text-center(class=fluid ? 'container-fluid' : 'container')
    em.pull-left.
      #{t('site.copyright')}
    em.
      This site built with #[a(href=t('url.github')) staticbuild].
    em.pull-right
      = t('site.domain') + ' '
      | v#{build.pkg.version} 
      small (#{build.locale}) 
      != '&nbsp;'
      a(href=t('url.githubIssues')) Help

mixin hamburger-menu
  span.sr-only Menu
  span.icon-bar
  span.icon-bar
  span.icon-bar

mixin navbar
  #topnav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button' 
          data-toggle='collapse' data-target='#navbar' 
          aria-controls='navbar'
        )
          +hamburger-menu
        a.navbar-brand(href='/')
          img(src='/lib/img/graffiti-logo-225x42.png' 
            width='225' height='42')
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          block navs
            li: a(href='/') Introduction
            li: a(href='/#beta' title='(Project is currently in beta.)'): strong (Beta)
            li: a(href='/#features') Features
          li: a(href='/api') API
          li: a(href=t('url.github')) GitHub
