.container-fluid(style='background-color: #393939;')
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      // Class
      a.anchor(id='class')
      h1 #{ast.root.name}
      p #{ast.root.classdesc}
    .col-xs-12.col-md-6(style='background-color: #393939;color:#fff;')
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      // Constructor
      a.anchor(id='constructor')
      h2 Constructor
    .hidden-xs.hidden-sm.col-md-6(style='background-color: #393939;')
      p
  +methodRow(ast.root)
      
  // Fields
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      p: a.anchor(id='fields')
      h2 Fields
    .hidden-xs.hidden-sm.col-md-6(style='background-color: #393939;')
      p
  each field in ast.fields
    +fieldRow(field)

  // Methods
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      p: a.anchor(id='methods')
      h2 Methods
    .hidden-xs.hidden-sm.col-md-6(style='background-color: #393939;')
      p
  each method in ast.functions
    +methodRow(method)

  // Static Fields
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      p: a.anchor(id='static-fields')
      h2 Static Fields
    .hidden-xs.hidden-sm.col-md-6(style='background-color: #393939;')
      p
  each field in ast.static.fields
    +fieldRow(field, 'static-')
  
  // Static Methods
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      p: a.anchor(id='static-methods')
      h2 Static Methods
    .hidden-xs.hidden-sm.col-md-6(style='background-color: #393939;')
      p
  each method in ast.static.functions
    +methodRow(method, 'static-')

// Footer
.container-fluid
  .row.row-full-height
    .col-xs-12.col-md-6(style='padding-top: 625px')
      +footer
    .hidden-xs.hidden-sm.col-md-6(style='background-color: #393939;')
      p

// Mixins

mixin renderExamples(memberName)
  .col-xs-12.col-md-6(style='background-color: #393939;color:#fff;')
    - var examples = getExamples('StaticBuild', memberName);
    each example in examples
      if example.ext === '.md'
        p!=renderMDFile(example.path)
      else if example.ext === '.js'
        pre
          code.hljs!=renderJSFile(example.path)

mixin fieldRow(field, memberPrefix)
  - memberPrefix = memberPrefix || '';
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      p!= '&nbsp;'
      .panel.panel-default
        .panel-heading: strong
          a.anchor(id=memberPrefix + field.name)
          | #{field.name}
          +typeNamesBadge(field)
        .panel-body: p #{field.description}
    +renderExamples(memberPrefix + field.name)

mixin typeNamesBadge(member)
  if member && member.type && member.type.names
    span.pull-right #{member.type.names}

mixin returnTypeNamesBadge(member)
  if member.returns && member.returns.length > 0
    +typeNamesBadge(member.returns[0])

mixin methodRow(method, memberPrefix)
  - memberPrefix = memberPrefix || '';
  .row.row-full-height
    .col-xs-12.col-md-6(style='background-color: #eaf2f6;')
      p!= '&nbsp;'
      .panel.panel-default
        .panel-heading: strong
          a.anchor(id=memberPrefix + method.name)
          | #{method.name}(#{methodParamNames(method)})
          +returnTypeNamesBadge(method)
        .panel-body: p #{method.description}
        +paramstable(method)
    +renderExamples(memberPrefix + method.name)

mixin paramstable(method)
  if method.params || (method.returns && method.returns.length > 0)
    table.table
      if method.params
        thead
          tr
            td(style='width: 125px'): em Argument
            td(style='width: 100px'): em Type
            td: em Description
      tbody
        if method.params
          each param in method.params
            tr
              if param.name.indexOf('.') < 0
                td(style='width: 125px;') #{param.name}
              else
                td(style='width: 125px;background-color:#f5f5f5;') #{param.name}
              td(style='width: 100px;')
                if param.type
                  | #{param.type.names}
              td #{param.description}
        if method.returns && method.returns.length > 0
          each rv in method.returns
            tr
              td(style='width: 125px'): strong Returns
              td(style='width: 100px')
                | #{memberTypeNames(rv)}
              td
                | #{rv.description}
