a.anchor(name='class')
h1 #{ast.root.name} #[span.glyphicon.glyphicon-search]
p #{ast.root.classdesc}
h2 Constructor
.panel.panel-default
  .panel-heading #{ast.root.name}()
  .panel-body: p #{ast.root.description}
p: a.anchor(name='fields')
h2 Fields
each field in ast.fields
  .panel.panel-default
    .panel-heading #{field.name}
    .panel-body: p #{field.description}
p: a.anchor(name='methods')
h2 Methods
each method in ast.functions
  .panel.panel-default
    .panel-heading #{method.name}
    .panel-body: p #{method.description}
p: a.anchor(name='static-fields')
h2 Static Fields
each field in ast.static.fields
  .panel.panel-default
    .panel-heading #{field.name}
    .panel-body: p #{field.description}
p: a.anchor(name='static-methods')
h2 Static Methods
each method in ast.static.functions
  .panel.panel-default
    .panel-heading #{method.name}
    .panel-body: p #{method.description}
    