extends ./lib/jade/base.layout.jade
block content
  a(name='introduction')
  .jumbotron(style='margin-bottom:0;')
    .container
      h1.text-center(style='margin: 0 auto; max-width: 900px'): small.
        A #[strong static website generator] and #[strong development server] 
        that uses #[a(href='https://github.com/pugjs/pug') Pug (Jade)] and 
        #[a(href='https://github.com/mozilla/nunjucks') Nunjucks] templates.
  a(name='features')
  .jumbotron: .container
    h1 Featuring
    p!= '&nbsp;'
    p!=renderMDFile('markdown/features.md')
    p!= '&nbsp;'
    a(name='beta')
    p.text-center
      a.bn.btn-primary.btn-lg(href=t('url.github') 
        role='button')!= 'GitHub &raquo;'
      br
      br
      em: strong (Project is currently in the beta.)
    p!= '&nbsp;'
    .row: .col-xs-12(style='background-color: #eaf2f6;')
      p!= '&nbsp;'
      h2 Quick Start
      p!=renderMDFile('markdown/quick-start.md')
      p.
        See the full #[a(href='/getting-started/') Getting Started] guide for 
        more info.
      p!= '&nbsp;'
    p!= '&nbsp;'
    p.text-center
      a.bn.btn-primary.btn-lg(href=t('url.github') 
        role='button')!= 'GitHub &raquo;'
      br
      br
      em: strong (Project is currently in the beta.)
    p!= '&nbsp;'
